.visualizer-page {
  display: grid;
  place-items: center;
}
.grid {
  margin: 50px 0;
}

.node-row {
  display: flex;
}

button {
  border: none;
  border-radius: 2px;
  padding: 10px;
  background-color: aqua;
  filter: brightness(90%);
  margin: 10px;
}

.height-input-container {
  margin-left: 10px;
}
